<h2>Detalhes produtor</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <div class="form-group mb-3">
            <label class="form-label"><strong>Nome: </strong>{{ produtor.nome }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label"><strong>CPF: </strong>{{ produtor.cpf }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label"><strong>Município: </strong>{{ municipio.nome }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label"><strong>Logradouro: </strong>{{ endereco.rua }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label"><strong>Numero: </strong>{{ endereco.numero }}</label>
        </div>
        
        <a (click)="voltar()" class="btn btn-outline-dark ">Voltar</a>
        <a href="produtor-editar/{{ produtor.id }}" class="btn btn-outline-primary mx-3">Editar</a>
        <div *ngIf="propbool">
            <hr>
            <h4>Propriedades</h4>
            <table class="table border rounded-circle table-striped mt-3 ">
                <thead >
                    <tr>
                        <th scope="col">Nome da propriedade</th>
                        <th scope="col">| Incricao estadual</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let propriedade of propriedades; let i = index">
                        <td>{{ propriedade.nome_propriedade }}</td>
                        <td>| {{ propriedade.inscricao_estadual }}</td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="propriedade/{{ propriedade.id }}">
                                <img src="assets/img/info.png" width="25" alt="Detalhes">
                            </a>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>