<h2>Detalhes produtor</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <div class="form-group mb-3">
            <label class="form-label">Nome: {{ produtor.nome }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">CPF: {{ produtor.cpf }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Município: {{ municipio.nome }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Logradouro: {{ endereco.rua }}</label>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Numero: {{ endereco.numero }}</label>
        </div>
        
        <a (click)="voltar()" class="btn btn-outline-dark ">Voltar</a>
        <a href="produtor-editar/{{ produtor.id }}" class="btn btn-outline-success mx-3">Editar</a>
        <hr *ngIf="propbool">
        <table class="table border rounded-circle table-striped mt-3 " *ngIf="propbool">
            <thead >
                <tr>
                    <th scope="col">Nome da propriedade</th>
                    <th scope="col">| Incricao estadual</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let propriedade of propriedades; let i = index">
                    <td>{{ propriedade.nome_propriedade }}</td>
                    <td>| {{ propriedade.incricao_estadual }}</td>
                    <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="propriedade/{{ propriedade.id }}" class="btn btn-outline-primary btn-sm">Detalhes</a>
                        <a href="propriedade-editar/{{ propriedade.id }}" class="btn btn-outline-danger btn-sm mx-2">Editar</a>
                    </td>
                </tr>  
              </tbody>
        </table>
    </div>
</div>