<h2>Venda</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form >
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"><strong>Vendedor:</strong> {{ produtorOrigem.nome }} </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label mr-5"><strong>Propriedade: </strong>{{ venda.propriedade_origem }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"><strong> Comprador: </strong>{{ produtorDestino.nome }}</label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><strong> Propriedade: </strong>{{ venda.propriedade_destino }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Finalidade da venda:</strong> {{ venda.finalidade_venda }}</label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Espécie do rebanho: </strong>{{ venda.especie }} </label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Data da venda: </strong>{{ venda.data }}</label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Quantidade de animais vendidos: </strong>{{ venda.qtde_vendida }}</label>
            </div>
            <button (click)="voltar()" class="btn btn-outline-dark">Voltar</button>
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Cancelar venda
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar venda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja cancelar a venda?
                </div>
                <div class="alert alert-danger m-2 px-2" *ngIf="erro">
                    {{msgErro}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
                    <button (click)="delete()" class="btn btn-outline-danger mx-3">Cancelar venda</button>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
</div>