<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Controle de Bovideos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="produtor">
            Produtor
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="propriedade">
            Propriedade
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="animal">
            Rebanho
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="registro-vacina">
            Registro de Vacina
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="venda">
            Venda
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
