<h2>Listar Registros de vacinas</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form>
            <div class="form-group mb-3">
                <label class="form-label">Informe a Incrição Estadual da propriedade: </label>
                <input class="form-control me-2" type="text" name="inscricao_estadual" placeholder="000.000.000" [(ngModel)]="propriedade.inscricao_estadual">
                <button class="btn btn-outline-dark mt-3" (click)="getInscricao()">Procurar</button>
                <a class="btn btn-outline-success mx-3 mt-3" href="/registro-vacina-cadastrar">Cadastrar</a>
            </div>
        </form>
    </div>
</div>
<div class=" alert alert-danger" *ngIf="validaInscricao">
    {{msgValidaInscricao}}
</div>
<table class="table border rounded-circle table-striped mb-0 " *ngIf="mostrar" >
    <thead >
        <tr>
            <th scope="col"> Rebanho</th>
            <th scope="col">| Vacina</th>
            <th scope="col">| Data</th>
            <th scope="col">| Quantidade vacinado</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registroVacina of registroVacinas">
            <td> {{ registroVacina.rebanho }}</td>
            <td>| {{ registroVacina.vacina }}</td>
            <td>| {{ registroVacina.data }}</td>
            <td>| {{ registroVacina.qtde_vacinado }}</td>
            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="registro-vacina/{{ registroVacina.id }}" class="btn btn-outline-dark btn-sm">Detalhes</a>
            </td>
        </tr>  
    </tbody>
</table>