<h2>Registrar vacina</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form >
            
            <label class="form-label">Selecione um rebanho: </label>
            <div class="form-group mb-3">
                <select class="form-select" name="" id="">
                    <option value=""></option>
                </select>
            </div>
            <label class="form-label">Selecione uma vacina: </label>
            <div class="form-group mb-3">
                <select class="form-select" name="" id="">
                    <option value="">Selecione uma vacina</option>
                    <option  value=""></option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Quantidade de animais vacinados: </label>
                <input class="form-control" type="number">
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>