<h2>Cancelar cadastro de Rebanho</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form>
            <label class="form-label">Informe o CPF do produtor: </label>
            <div class="form-group mb-3 d-flex">
                <input class="form-control me-2" type="search" placeholder="000.000.000-00" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Procurar</button>
            </div>
        </form>
    </div>
</div>
<div  class="card my-3">
    <div class="card-body register-form">
        <form>
            <div>
                <label class="form-label">Selecione uma propriedade: </label>
                <div class="form-group mb-3"><!--//ngif-->
                    <select class="form-select">
                        <option value="">Selecione uma propriedade</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div  class="card my-3">
    <div class="card-body register-form">
        <form>
            <div>
                <label class="form-label">Selecione um rebanho: </label>
                <div class="form-group mb-3"><!--//ngif-->
                    <select class="form-select">
                        <option value="">Selecione um rebanho</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div  class="card my-3">
    <div class="card-body register-form">
        <label class="form-label">Selecione uma espécie: </label>
    <div class="form-group mb-3">
        <input class="form-control" type="text" disabled value="Bovino">
    </div>
    <label class="form-label">Selecione uma propriedade: </label>
    <div class="form-group mb-3">
        <input class="form-control" type="text" disabled value="sei la">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Quantidade de animais:</label>
        <input class="form-control" type="number" value="200" disabled>
    </div>
    <button type="submit" class="btn btn-success">Excluir</button>
    </div>
</div>