
<div class="titulo">
    <h1 id="title" class="display-1 text-center">Controle de Bovídeos</h1>
</div>
<div class="row mt-5">
    <div class="col md">
        <div class="text-center card-body bg-light cartao">
            <div class="">
                <a href="produtor">
                    <img src="assets/img/produtor.png" width="100"  alt="Produtor">
                </a>
                <h4 class="text-dark my-1">Produtor</h4>
            </div>
        </div>
        <br>
    </div>
    <div class="col md">
        <div class="text-center card-body bg-light cartao">
            <div class="">
                <a href="propriedade">
                    <img src="assets/img/gado.png" width="100" alt="Propriedade">
                </a>
                <h4 class="text-dark my-1">Propriedade</h4>
            </div>
        </div>
        <br>
    </div>
    <div class="col md">
        <div class="text-center card-body bg-light cartao">
            <a href="animal">
                <img src="assets/img/animal.png" width="100"  alt="Rebanho">
            </a>
            <h4 class="text-dark my-1">Rebanho</h4>
        </div>
        <br>
    </div>
    <div class="col md">
        <div class="text-center card-body bg-light cartao">
            <a href="registro-vacina">
                <img src="https://cdn-icons-png.flaticon.com/512/688/688543.png" width="100"  alt="Registro de vacina">
            </a>
            <h4 class="text-dark my-1">Vacina</h4>
        </div>
        <br>
    </div>
    <div class="col md">
        <div class="text-center card-body bg-light cartao">
            <a href="venda">
                <img src="assets/img/venda.png" width="100"  alt="Venda">
            </a>
            <h4 class="text-dark my-1">Venda</h4>
        </div>
        <br>
    </div>
</div>