<h2>Registrar vacina</h2>

<div  class="card my-3 max-tela-cad">
    <div class="card-body register-form">
        <form >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Informe a Inscrição Estadual da propriedade: </label>
                        <input (blur)="getInscricao()" class="form-control me-2" type="search" placeholder="000.000.000" aria-label="Search" name="inscricao_estadual" [(ngModel)]="propriedade.inscricao_estadual">
                        <div class="text-danger" *ngIf="validaInscricao">
                            {{msgValidaInscricao}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Selecione uma vacina: </label>
                        <select class="form-select" name="id_vacina" [(ngModel)]="registroVacina.id_vacina">
                            <option *ngFor="let vacina of vacinas" value="{{ vacina.id }}">{{ vacina.nome }}</option>
                        </select>
                        <div class="text-danger" *ngIf="validaVacina">
                            {{msgValidaVacina}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label class="form-label">Selecione um rebanho: </label>
                        <select class="form-select"  name="id_rebanho" [(ngModel)]="registroVacina.id_rebanho">
                            <option *ngFor="let rebanho of rebanhos" value="{{ rebanho.id }}">{{ rebanho.id_especie == 1 ? "Bovino" : "Bubalino" }}</option>
                        </select>
                        <div class="text-danger" *ngIf="validaRebanho">
                            {{msgValidaRebanho}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label class="form-label">Data da vacinação: </label>
                        <input class="form-control" type="date" name="data" [(ngModel)]="registroVacina.data">
                        <div class="text-danger" *ngIf="validaData">
                            {{msgValidaData}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Quantidade de animais vacinados: </label>
                        <input class="form-control" type="number" name="qtde_vacinado" [(ngModel)]="registroVacina.qtde_vacinado">
                        <div class="text-danger" *ngIf="validaQtde">
                            {{msgValidaQtde}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="erro">
                {{msgErro}}
            </div>
            <button (click)="voltar()" class="btn btn-outline-dark">Voltar</button>
            <button (click)="save()" class="btn btn-outline-primary mx-3">Cadastrar</button>
        </form>
    </div>
</div>