<h2>Produtores</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label class="form-label">Informe o CPF do produtor: </label>
            <div class="form-group mb-3">
                <input class="form-control me-2" type="search" placeholder="000.000.000-00" aria-label="Search" formControlName="cpf">
                <button class="btn btn-outline-success mt-3" type="submit">Procurar</button>
                <a class="btn btn-outline-primary mx-3 mt-3" href="/produtor-cadastrar">Cadastrar</a>
            </div>
            <div class="alert alert-danger" *ngIf="erro">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>

<table class="table border rounded-circle table-striped mb-0 " *ngIf="mostrar">
    <thead >
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">| Nome</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produtor of produtores">
            <td>{{ produtor.cpf }}</td>
            <td>| {{ produtor.nome }}</td>
            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="produtor/{{ produtor.id }}" class="btn btn-outline-primary btn-sm">Detalhes</a>
                <a href="produtor-editar/{{ produtor.id }}" class="btn btn-outline-danger btn-sm mx-2">Editar</a>
            </td>
        </tr>  
      </tbody>
</table>