<h2>Registro de vacina</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form >
            <div class="form-group mb-3">
                <label class="form-label">Nome da propriedade: {{ propriedade.nome_propriedade }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Espécie do rebanho: {{ especie.descricao }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Vacina aplicada: {{ vacina.nome }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Data da vacina: {{ registroVacina.data }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Quantidade de animais vacinados: {{ registroVacina.qtde_vacinado }}</label>
                
            </div>
            <button (click)="voltar()" class="btn btn-outline-dark">Voltar</button>
        </form>
    </div>
</div>