<h2>Registro de vacina</h2>

<div  class="card my-3">
    <div class="card-body register-form">
        <form >
            <div class="form-group mb-3">
                <label class="form-label"><strong> Nome da propriedade: </strong>{{ registroVacina.nome_propriedade }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Espécie do rebanho: </strong>{{ registroVacina.rebanho }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Vacina aplicada: </strong>{{ registroVacina.vacina }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Data da vacina: </strong>{{ registroVacina.data }}</label>
                
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><strong>Quantidade de animais vacinados: </strong>{{ registroVacina.qtde_vacinado }}</label>
                
            </div>
            <button (click)="voltar()" class="btn btn-outline-dark">Voltar</button>
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Cancelar registro
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar registro de vacina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja cancelar o registro de vacina?
                </div>
                <div class="alert alert-danger m-2 px-2" *ngIf="erro">
                    {{msgErro}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
                    <button (click)="delete()" class="btn btn-outline-danger mx-3">Cancelar registro</button>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
</div>